{% extends 'profile/profile_user.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            {{ include('profile/profile_sidebar.html.twig') }}
            <div class="col-lg-9 user_events">
                <h3>Мои бронирования</h3>
                <ul class="list-unstyled profile-event">
                    {% for event in eventsArray %}
                        <li class="media mb-4">
                            {% set payment = 0 %}
                            {% if event.eventImage == null %}
                                <img class="align-self-start mr-3" src="http://www.terra-inc.net/noimage565465654.gif"
                                     alt="Нет фото">
                            {% else %}
                                <img class="align-self-start mr-3" src="{{ vich_uploader_asset(event, 'imageFile') }}"
                                     alt="лого">
                            {% endif %}
                            <div class="media-body">
                                <a class="mt-0 mb-1 pt-0 module-page-title"
                                   href="{{ path('app_events_single', {'id':event.id}) }}">{{ event.eventName }}</a>
                                <p>{{ event.shortDescription }}</p>
                                {% for bookingSession in bookings %}
                                    {% set sessionPayment = 0 %}
                                    {% if bookingSession.session.event == event and
                                        bookingSession.booking.payment == true %}
                                        {% set payment = 1 %}
                                        {% set sessionPayment = 1 %}
                                    {% endif %}

                                    {% if bookingSession.booking.user == app.user and
                                        bookingSession.session.event == event %}
                                        <p>
                                            <b>{{ bookingSession.session.name }}</b>
                                            {{ bookingSession.session.date | date("m-d-Y") }}
                                            {% if sessionPayment == 1 %}
                                                <b class="paid">Оплачено</b>
                                            {% else %}
                                                <b class="notPaid">Не оплачено</b>
                                            {% endif %}
                                            {% for file in bookingSession.session.eventFiles %}
                                                {% if file.name is not empty and
                                                    bookingSession.session.date <= date() and
                                                    bookingSession.booking.payment == true%}
                                                    <a id="download_file{{ loop.index }}"
                                                       href="{{ asset('uploads/images/event_material/'~file.material) }}"
                                                       download>{{ file.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        </p>
                                    {% elseif bookingSession.booking.payment == false and
                                        event.eventEnding.date > date() %}
                                        <p><b>{{ bookingSession.session.name }}</b>
                                            {{ bookingSession.session.date | date("m-d-Y") }}
                                            <b>Не оплачено</b>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                {% if event.eventStart > date() and payment == 0 %}
                                    <p><a id="cancel_event" href="{{ path('app_remove_booking',{'id' : event.id }) }}"
                                          class="btn btn-danger cancel-btn" role="button">Отменить
                                            регистрацию</a></p>
                                {% endif %}
                            </div>
                        </li>
                    {% else %}
                        <p>Пока что Вы ничего не бронировали</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}