

<div class="col-lg-3 sidebar-menu-profile">
    <div class="row sidebar">
            <div class="profile_siderbar ">
                <h3 class="sidebar-menu-title sidebar_profile">Разделы</h3>
                <ul class="nav_item profile_navigation">
                    <p><a id="profile" href="{{ path('app_profile') }}">Профиль</a></p>
                    <p><a id="my_bookings" href="{{ path('app_my_events') }}">Мои бронирования</a></p>
                </ul>
            </div>

        {{ include('single_page_parts/sidebar.html.twig') }}
        <script>
            $('.sidebar').removeClass('col-lg-3')
        </script>
    </div>
</div>