{% extends 'base.html.twig' %}

{% block content %}
    <div class="container content_background">
        <div class="row">
            {{ include('profile/profile_sidebar.html.twig') }}
            <div class="profile col-lg-9">
                <h3 class="mx-auto  profile_header">Личный кабинет</h3>
                <div class="row">
                    <div class="col-md-3 mt-4 text-center">
                        {% if user.avatar != null %}
                            <div class="img_ava_block"><img src="{{ vich_uploader_asset( user , 'avatarFile') }}"></div>
                        {% else %}
                            <div class="img_ava_block">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREGvD1tDYTqZOS-88ohr3-eCt_qSP2ok9ZFQ4CC0YQ3kAO1tCP">
                            </div>
                        {% endif %}

                        <div style="display: none"> {{ include('form/form_type.html.twig', { 'form': avatarForm }) }}</div>
                        <div class="change">
                            <p>
                                <a href="#" id="changeAva">Сменить аватар</a>
                            </p>
                            <p>
                                <a id="change_password" href="{{ path('fos_user_change_password') }}">Изменить
                                    пароль</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <ul class="profile_info">
                            <li>Почтовый ящик</li>
                            {{ user.email }}
                            <li>Телефон</li>
                            {{ user.phoneNumber }}
                            <li>Ф.И.О</li>
                            {{ user.fullName }}
                            <li>Организация</li>
                            {{ user.organizationName }}
                            {#<li><a id="change_password" href="{{ path('fos_user_change_password') }}">Изменить#}
                            {#пароль</a></li>#}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 mt-3">
                            <a id="edit_profile" href="{{ path('app_edit_profile') }}" class="profile_refactor">
                                Редактировать
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $("#changeAva").click(function () {
            $("#app_user_change_avatar_avatar").click()
        });

        $("#app_user_change_avatar").on("change", function () {
            $("#app_user_change_avatar_Change").click()
        });

    </script>
{% endblock %}

{% block title %}

{% endblock %}

