{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <div class="row">
            {{ include('profile/profile_sidebar.html.twig') }}
            <div class="col-md-6 profile_padding">
                <h2>Редактирование пароля</h2>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
