<div class="col-lg-3 sidebar">
    {{ render(controller(
    'App\\Controller\\NavigationController::showSidebarForEventAction'
    )) }}

    <div class="dispatch text-center">
        <h5>Рассылка</h5>
        <form action="{{ path('app_subscription') }}" method="post">
            <input name="email" type="email" placeholder="Введите ваш e-mail"/>
            <input type="submit" value="Подписаться" class="yellow-button"/>
        </form>
    </div>
</div>