{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="register-page">
            <h1>Регистрация</h1>
            {% include "@FOSUser/Registration/register_content.html.twig" %}
        </div>
    </div>

{% endblock fos_user_content %}
