{% block field %}
    {% spaceless %}
        <a class="btn btn-sm btn-default" href="{{ admin.generateUrl('create', {'parent': object}) }}">
            <i class="fa fa-plus-circle"></i> Создать
        </a>
    {% endspaceless %}
{% endblock %}
