{% if links is not empty %}
    <h3 class="sidebar-menu-title">{{ links.title }}</h3>
    <ul class="nav flex-column" id="MainmenuToggler">
        {% for link in links.list %}
            <li class="nav-item">
                {% set linkStyle = "nav-link" %}
                {% if link.active == true %}
                    {% set linkStyle = "nav-link disabled" %}
                {% endif %}

                <a class="{{ linkStyle }}" id="sidebar-{{ link.id }}"
                   href="{{ path(link.route_name,{(link.param): link.route }) }}">{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}


