{% extends 'base.html.twig' %}


{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar.html.twig') }}
                <div class="item-page col-md-9 pt-4">
                    <h1 class="pt-4 pb-2">Поиск</h1>
                    {% if events is not empty %}
                        <h5 class="pt-4 pb-2">Мероприятия:</h5>
                        {% for event in events %}
                            <div>
                                <a href={{ path(event.route,{'id': event.id}) }}>{{ event.title }}</a>
                                <p class="module-page-date">
                                    {{ event.shortDescription }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if news is not empty %}
                        <h5 class="pt-4 pb-2">Новости:</h5>
                        {% for single_news in news %}
                            <div>
                                <a href={{ path(single_news.route,{'id': single_news.id}) }}>{{ single_news.title }}</a>
                                <p class="module-page-date">
                                    {{ single_news.shortDescription }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if dynamicPages is not empty %}
                        <h5 class="pt-4 pb-2">Страницы:</h5>
                        {% for dynamicPage in dynamicPages %}
                            <div>
                                <a href={{ path(dynamicPage.route,{'route': dynamicPage.id}) }}>{{ dynamicPage.title }}</a>
                                <p class="module-page-date">
                                    {{ dynamicPage.shortDescription | truncate(256) | striptags }}
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

