{% if videos == true %}

    <h3>Видео галерея</h3>
    <div class="video-slider">
        <div id="videoSlider" class="carousel slide" data-ride="carousel" data-interval = "{{ app.session.get('videoGallerySliderTimer') }}">
            <div class="carousel-inner">
                {% for key, video in videos %}
                    <div class="carousel-item {% if key == 0 %} active {% endif %}">
                        <div class="col-md-8 videogallery-item">
                            <p class="description" >{{ video.link|raw }}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#videoSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#videoSlider" role="button" data-slide="next" id="video-control-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <script src="{{ asset('js/sliderVideoGalleryOnMain.js') }}"></script>
        </div>
    </div>


{% endif %}